* {
  box-sizing: border-box
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  background-color: #dadada
}
a {
  text-decoration: none;
  color: black
}
.logo {
  margin: 6px 0;
  padding-right: 15px;
}
.db-header {
  display: flex;
  justify-content: center;
  background-color: #dadada
}
.db-nav-ulist {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #dadada
}
.db-nav-list-item {
  padding: 5px 0; 
  font-size: 1.2rem
  
}
.main-div {
  height: 100%;
  text-shadow: 1px 1px grey
}
button {
  border: none;
  background-color: #dadada;
  padding: 0
}