* {
  box-sizing: border-box
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  background-color: #dadada;
}
hr {
  width: 50vw;
  margin: 0 auto
}
nav a {
  margin: 0 30px
}
.logo {
  margin: 6px 0;
  padding-right: 15px;
}
.db-header {
  display: flex;
  justify-content: center;
}
button {
  border: none;
  padding: 0
} 
footer {
  height: 13vh;
  background-color: grey
}
footer li {
  list-style: none;
}
.footer-a {
  color: black;
  text-decoration: none
}

@media screen and (max-width: 600px) {
  nav a {
    margin : 0
  }
}

@media screen and (max-width: 1000px) {
  footer {
    position: relative !important;
    margin-top: 30px
  }
}